{% extends 'adminlte/base.html' %}
{% block content %}

{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
  document.getElementById("push-image-upload").onchange = function () {
      var reader = new FileReader();

      reader.onload = function (e) {
          // get loaded data and render thumbnail.
          document.getElementById("push-image-ios").setAttribute("xlink:href", e.target.result);
          document.getElementById("push-image-android").setAttribute("xlink:href", e.target.result);

      };

      // read the image file as a data URL.
      reader.readAsDataURL(this.files[0]);
  };
</script>
{% endblock %}

